In [29]:
# import dependacies 
import os 
import csv 
import pandas as pd 
import numpy as np

In [30]:
# set csv paths 
schools_complete = "raw_data/schools_complete.csv"
students_complete = "raw_data/students_complete.csv"

In [39]:
# read schools csv 
schools_pd = pd.read_csv(schools_complete, low_memory=False)

schools_pd.head()

   School ID                   name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [40]:
# rename and format columns in schools df 
schools_organized_df = schools_pd.rename(columns={"name":"School Name", "type": "Type", 
                                                   "size":"School Size", 
                                                   "budget": "Total Budget"})
schools_organized_df.head()

   School ID            School Name      Type  School Size  Total Budget
0          0      Huang High School  District         2917       1910635
1          1   Figueroa High School  District         2949       1884411
2          2    Shelton High School   Charter         1761       1056600
3          3  Hernandez High School  District         4635       3022020
4          4    Griffin High School   Charter         1468        917500

In [41]:
# total distrcit budget **Actual District Budget**
total_budget = schools_pd["budget"].sum()
total_budget

24649428

In [42]:
total_student_count = schools_pd["size"].sum()
total_student_count

39170

In [44]:
students_pd = pd.read_csv(students_complete, low_memory=False)
students_pd.head()

,Student ID,name,gender,grade,school,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [45]:
# rename and format columns in student df 
students_organized_df = students_pd.rename(columns={"name":"Student Name", "gender": "Gender", "school":"School Name", 
                                                    "grade": "Grade", "reading_score": "Reading Score", 
                                                    "math_score": "Math Score"})
students_organized_df.head()

,Student ID,Student Name,Gender,Grade,School Name,Reading Score,Math Score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [57]:
# merge extracts into new data frame using inner join 
ds_combined = pd.merge(schools_organized_df, students_organized_df, on="School Name", how="outer")
ds_combined.head()

,School ID,School Name,Type,School Size,Total Budget,Student ID,Student Name,Gender,Grade,Reading Score,Math Score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [94]:
# total school count
total_school_count = len(ds_combined["School Name"].unique())
total_school_count

15

In [55]:
# total student count by school 
sc_per_school = ds_combined["School Name"].value_counts()
sc_per_school

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: School Name, dtype: int64

In [74]:
# total student count 
total_student_count = sc_per_school.sum()
total_student_count

39170

In [83]:
tb_per_school = ds_combined.groupby(["School Name"]).mean()["Total Budget"]
tb_per_school.head()

School Name
Bailey High School      3124928.0
Cabrera High School     1081356.0
Figueroa High School    1884411.0
Ford High School        1763916.0
Griffin High School      917500.0
Name: Total Budget, dtype: float64

In [92]:
total_ds_budget = pd.DataFrame({"Total Budget": tb_per_school}).sum()
total_ds_budget

Total Budget    24649428.0
dtype: float64

In [93]:
# calculate average Reading and Math Scores (** this will be used in future tables)
avg_rs = ds_combined["Reading Score"].mean() 
avg_ms = ds_combined["Math Score"].mean() 
print(avg_rs)
print(avg_ms)

81.87784018381414
78.98537145774827

In [101]:
# % passing math /// need to fix 
passing_math = (avg_ms > 70) * 100
passing_math

100

In [ ]:
# % passing reading

In [104]:
# overall % passing 

overall_passing = (avg_ms, avg_rs).mean()
overall_passing

AttributeError: 'tuple' object has no attribute 'mean'

In [99]:
# District Summary 

# Creating a summary DataFrame using above values
summary_df = pd.DataFrame({"Total Schools":[total_school_count],
                          "Total Budget": int(total_ds_budget), 
                          "Average Math Score": avg_rs, 
                          "Average Reading Score": avg_ms})



summary_df

   Average Math Score  Average Reading Score  Total Budget  Total Schools
0            81.87784              78.985371      24649428             15

In [17]:
summary_df["Total Budget"] = summary_df["Total Schools"].map("${:,}".format)
summary_df["Total Students"] = summary_df["School Size"].map("{:,}".format)

NameError: name 'summary_df' is not defined

In [18]:
# # merge extracts into new data frame using inner join 
# ds_sum = pd.merge(schools_dsextract_pd, students_dsextract_pd, on="School Name")
# ds_sum

In [19]:
# # total school count 
# school_count = ds_sum["School Name"].value_counts()
# school_count

In [20]:
# # The value_counts method counts unique values in a column
# count = data_file_pd["Gender"].value_counts()
# count


# total_school_count = school_count["School Name"].sum()
# total_school_count

In [21]:
# # calculate average Reading and Math Scores (** this will be used in future tables)
# avg_rs = students_organized_df["Reading Score"].mean() 
# avg_ms = students_organized_df["Math Score"].mean()

In [22]:
# # calculate passing math *** fix this 
# # Calculate how many attendees hold degrees
# holds_degree = attended_bootcamp["SchoolDegree"].count()
# print(holds_degree)


# # Calculate total number of respondents in survey
# total_surveyed = len(reduced_coders_pd)
# total_surveyed


# passing_math = (avg_ms > 60) * 100

In [23]:
# # calculate passing reading *** fix this 
# # Calculate how many attendees hold degrees
# holds_degree = attended_bootcamp["SchoolDegree"].count()
# print(holds_degree)

# passing_reading = (avg_rs > 60) * 100

In [24]:
# # overall passing 
# overall_passing = (avg_rg + avg_rg).mean()

In [25]:
# # format DS Summary Table 
# ds_sum_final["Average Math Score"] = ds_sum_final["Average Math Score"].map("{0:,.2f}%".format)
# ds_sum_final["Average Reading Score"] = ds_sum_final["Average Reading Score"].map("{0:,.2f}%".format)
# ds_sum_final["% Passing Math"] = ds_sum_final["% Passing Math"].map("{0:,.2f}%".format)
# ds_sum_final["% Passing Reading"] = ds_sum_final["% Passing Reading"].map("{0:,.2f}%".format)
# ds_sum_final["% Overall Passing Rate"] = ds_sum_final["% Overall Passing Rate"].map("{0:,.2f}%".format)